.services .services-flex{
    padding-top: 5em;
}

.services-card .col-md-3 .card{
    height: 70vh;
    padding-top: 2em;
    background: radial-gradient(#433D60, #211E2E);
    border-radius: 30px;
}

.services-card img{
    width: 10vw;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 10px #2A2639;
}

.card-body h5{
    border-bottom: 1px solid #C0B7E8;
    text-transform: uppercase;
    font-weight: bold;
    width: 10vw;
}

.card-body p{
    font-weight: lighter;
    font-size: 0.75rem;
    padding: 1em 0;
}

.services-card .card-title, p{
    color: #FFF;
}